.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 10;
    display: flex;
    justify-content: center;
    pointer-events: none;

    transition: opacity 3s;
}

.loadingBarWrapper {
    position: relative;
    top: 70vh;

    border: 1px solid lightgray;
    border-radius: 4px;

    height: 20px;
    width: 400px;
}

.loadingBar {
    background-color: lightgray;
    position: absolute;
    inset: 0;

    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;

    margin: 2px;
}