@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Tajawal', Arial, Helvetica, sans-serif;
}

.main-borders {
    border-top-left-radius: 44px;
    border-bottom-right-radius: 44px;
}
