@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Tajawal', Arial, Helvetica, sans-serif;
}

.main-borders {
    border-top-left-radius: 44px;
    border-bottom-right-radius: 44px;
}

.markdown-article p, .markdown-article ul {
    margin-bottom: 20px;
}

.markdown-article code {
    font-size: 1rem;
    background-color: #ddd;
}

.markdown-article a {
    text-decoration: underline;
    color: #1A237E;
}

.markdown-article h1, .markdown-article h2, .markdown-article h3, .markdown-article h4, .markdown-article h5 {
    font-size: 2.3rem;
    margin-bottom: 20px;
    margin-top: 50px;
}

.markdown-article ul li {
    list-style-type: disc;
    margin-left: 25px;
}

deckgo-highlight-code {
    margin-bottom: 30px;
    --deckgo-highlight-code-font-size: 1.3rem;
}

@media (max-width: 450px) {
    deckgo-highlight-code {
        --deckgo-highlight-code-font-size: 1.1rem;
    }
}
