.wrapper {
    position: relative;
}

.orthogonalContainer {
    height: 300vh;
    position: relative;
    overflow: hidden;
}

.caveContainer {
    position: relative;
}

.caveHeroHint {
    color: gray;
    position: absolute;
    bottom: 100; 
    text-align: center;
    left: 0;
    right: 0;
    font-size: 30px;
}